*{
	padding: 0px;
	margin: 0px;
}
body{
	padding: 0px;
	margin: 0px;
	width: 100%;
	overflow-x: hidden;
	height: auto;
    box-sizing: border-box;
    /*background: #202020 !important;*/
    background-image: url('../images/appBg.jpg');
    background-size: cover;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    color: #fff !important;
}
ul {
    padding: 0px;
    margin:0px;
    list-style: none;
}
/*body ::-webkit-scrollbar {
  display: none;
}*/
@font-face {
    font-family: 'Gotham Narrow';
    src: url('../fonts/GothamNarrow-Medium.eot');
    src: url('../fonts/GothamNarrow-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamNarrow-Medium.woff2') format('woff2'),
        url('../fonts/GothamNarrow-Medium.woff') format('woff'),
        url('../fonts/GothamNarrow-Medium.ttf') format('truetype'),
        url('../fonts/GothamNarrow-Medium.svg#GothamNarrow-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Narrow Book';
    src: url('../fonts/GothamNarrow-Book.eot');
    src: url('../fonts/GothamNarrow-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamNarrow-Book.woff2') format('woff2'),
        url('../fonts/GothamNarrow-Book.woff') format('woff'),
        url('../fonts/GothamNarrow-Book.ttf') format('truetype'),
        url('../fonts/GothamNarrow-Book.svg#GothamNarrow-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TwCenMTStd';
    src: url('../fonts/TwCenMTStd.eot');
    src: url('../fonts/TwCenMTStd.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TwCenMTStd.woff2') format('woff2'),
        url('../fonts/TwCenMTStd.woff') format('woff'),
        url('../fonts/TwCenMTStd.ttf') format('truetype'),
        url('../fonts/TwCenMTStd.svg#TwCenMTStd') format('svg');
    font-weight: 500;
    font-style: normal;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] {
    -moz-appearance:textfield;
}
.navbar-light .navbar-toggler-icon{
    background-image: none;
    color: #fff;
    font-size: 25px;
    height: auto;
}
.pd-tp-15{
    padding-top: 15px;
}
button:focus{
    display: none;
}
.navbar-light .navbar-toggler{
    display: block;
    border:none;
}
.navbar{
	padding: 0px;
}
.top-header-menu {
    width: 100%;
    padding: 20px 0px;
}
.toggle-menu i{
    font-size: 27px;
}
.navbar-brand img{
	    width: 75px;
    margin: 0 15px;
}
.search-song{
    position: relative;
    width: 320px;
}
.search-song .form-control{
	 border-radius: 50px;
    height: 40px;
    padding: 0px 20px;
    margin-top: 3px;
}
.cstm-sbmt{
    position: absolute;
    background: transparent;
    top: 1px;
    right: 9px;
    width: 35px;
    height: 34px;
    z-index: 99;
    padding: 7px;
}
.cstm-sbmt img{
	width: 100%;
	max-width: 100%;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
    margin: 0 5px;
    font-size: 15px;
    padding: 14px 1px;
    font-family: 'TwCenMTStd';
}

.headerSection div > a{
    color: #fff !important;
    margin: 0 5px;
    font-size: 15px;
    padding: 14px 1px;
}

.genreCardBorder {
    border: none;
    position: relative;
}

.genreOverlayCard {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 10px;
    height: 100px;
    right: 0;
    opacity: 0;
    transition: .5s ease;
    background-color: #5cb2c660;
  }

.cardBorder {
    border: 2px solid #fff;
    border-radius: 10px;
    position: relative;
}

.overlayCard {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  background-color: #5cb2c660;
}

.cardBorder:hover .overlayCard{
    opacity: 1;
}

.textCard {
    color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: left;
}


.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    /*color: #34566a;*/
    color: #fff;
}
.navbar-light .navbar-nav .nav-link span{
	    display: inline-block;
    	padding-left: 5px;
}
.andrd{
	margin: 0!important;
    padding-top: 8px;
    padding-left: 0px!important;
}
.userr{
        width: 40px;
    margin-right: 40px;
}
.userr img{
        width: 35px;
    height: 35px;
    max-width: 100%;
    max-height: 100%;
}
.userr span{
    font-size:11px;
    width: 100%;
    text-align: center;
    display: inline-block;
}
.genrs-list {
    width: 100%;
    padding: 15px;
}
.dj-play-list{
	width: 100%;
	background: linear-gradient(to right, #242232 , #33284c90);  /*#242232;*/
}

.ms-SearchBox {
    border-radius: 40px !important;
}

.loginDropdown:hover {
    color: #1ea7c3;
}

.featured-play {
    width: 100%;
    border-bottom: 3px solid #42414d;
    padding: 10px 15px;
}
.featured-playlist{
    width: 100%;
    display: flex;
  overflow: auto;
}
.featured-playlist ul{
    display: flex;
  align-items: center;
  /*justify-content: center;*/
  flex-wrap: nowrap;
}
.featured-play span, .genrs-list span, .right-sidebar h3{
	    font-size: 20px;
}
.featured-play a, .genrs-list a{
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    padding: 1px 25px;
    font-size: 17px;
    border-radius: 50px;
    background: #34566a;
    margin-left: 20px;
}
.featured-playlist ul li{
	width: 130px;
    height: 130px;
    border-radius: 10px;
    border: 1px solid #fff;
    box-shadow: 5px 5px 0px #181722;
    overflow: hidden;
    display: inline-block;
    margin-right: 25px;
}
.featured-playlist ul li img{
	width: 100%;
	height: 100%;
	max-width: 100%;
	max-height: 100%;
}
.featured-playlist ul{
	padding-top: 15px;
}
.track-list{
    width: 100%;
    height: 230px;
    border: 3px Solid #fff;
    border-radius: 20px 0px 20px 0px;
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
}
.track-list img{
    width: 100%;
    height: 100%;
}
.ttl {
	position: absolute;
    background: rgba(230, 226, 226, 0.65);
    width: 100%;
    padding: 15px 15px;
    bottom: 0;
    height: 65px;
}
.ttl h3{
    display: inline-block;
    margin: 0;
    width: 80%;
    float: left;
    font-size: 20px;
    color: #242232;
    font-weight: 600;
}
.ttl span{
	width: 20%;
    text-align: right;
    float: right;
    color: #242232;
}
.b-r1{ border-radius: 0px 20px 0px 20px;}
.b-r2{ border-radius: 0px 20px 0px 20px;}
.b-r3{ border-radius: 20px 0px 20px 0px;}
.b-r4{ border-radius: 20px 0px 20px 0px;}
.b-r5{ border-radius: 0px 20px 0px 20px;}
.b-r6{ border-radius: 20px 0px 20px 0px;}

.right-sidebar{
	width: 100%;
    background: #242232;
    padding: 15px;
}
.list-of-song{
	width: 100%;
    background: #fff;
    border-radius: 10px;
    display: inline-block;
    padding: 3px;
    height: 105px;
    margin-bottom: 15px;
}
.song-dp{
	width: 100px;
    float: left;
    height: 100px;
    border-radius: 25px;
    overflow: hidden;
}
.song-dp img{    width: 100%}
.song-ttl {
    width: calc(100% - 100px);
    float: left;
    color: #242232;
    padding: 10px 0px 0px 10px;
    height: 100%;}
.song-ttl h4{    
    font-size: 16px;
    font-weight: bold;}
.song-ttl p{   
     margin: 0;
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 10px;}
.song-ttl span{
        display: inline-block;
    width: 100%;
    text-align: right;
    padding-right: 10px;
    font-size: 20px;
}
.play-list-content{
   width: 100%;
    background: #242232;
}
.play-list-content h2{
    font-size: 28px;
    padding: 15px 15px;
    padding-bottom: 0px;
    margin: 0;
}
.play-list-content .owl-nav , .profile-data .owl-nav {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 1px;
    z-index: 99;
    font-size: 70px;
    transform: translateY(-50%);
}
.profile-data .owl-nav {
    top: 17%;
}

.play-list-content button.owl-next, .profile-data button.owl-next {
    float: right;
    right: -32px;
    position: absolute;
}
.owl-carousel .owl-nav button.owl-next:hover, .owl-carousel .owl-nav button.owl-prev:hover, .owl-carousel button.owl-dot:hover{
        background: transparent;
}
.owl-carousel .owl-nav button.owl-next:focus, .owl-carousel .owl-nav button.owl-prev:focus, .owl-carousel button.owl-dot:focus{
   display: none;     
}
.play-list-content button:focus, .profile-data button:focus{
    display: none;
}
button.owl-prev {
    left: 0;
    position: absolute;
}
/*.play-list-content button.owl-prev, .profile-data button.owl-prev{
    display: none;
}*/
.all-songs{
    width: 100%;
    border-bottom: 2px solid #42414d;
    padding: 15px;
    padding-right: 40px;
}
.all-songs h3{
        margin: 0;
    font-size: 20px;
    padding-bottom: 15px;
}
.all-songs img{
    border-radius: 7px;
    width: 135px!important;
    height: 135px;
    border: 1px solid #fff;
    box-shadow: 5px 5px 0px #181722;
}
.all-songs.prf-data img{
    width: inherit!important;
    height: auto;
}
.profile-data {
    width: 100%;
    background: #242232;
    padding-top: 15px;
}
.profile-data .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    padding: 0 5px;
    text-decoration: none;
    color: #fff;
}
.profile-data .nav-tabs .nav-link.active{
    background: transparent;
    border: 1px solid #fff;
}
.all-songs.prf-data {
    border: none;
}
.profile-data  .nav-tabs{
    border-bottom: none;
}
.all-songs p{
    margin: 0px;
    width: 100%;
    text-align: center;
    font-weight: 600;
    padding-top: 8px;
    font-size: 16px;
}
.owl-dots {
    display: none;
}
.profile-bg{
    width: 100%;
    background-image: url(.././images/profile-bg.png);
    height: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.left-side-bar{
    background: #242232;
    padding: 15px;
    width: 100%;
    position: relative;
    top: -127px;
}
.left-side-bar h3{
        margin: 0;
    font-weight: 500;
    display: inline-block;
}
.left-side-bar .cstm-edit{
    background: transparent;
    border: none;
    float: right;
    color: #fff;
    line-height: 40px;
    font-size: 14px;
    cursor: pointer;
    display: block!important;
}
.left-side-bar .cstm-edit:focus{
    outline: none;
}

/*upload profile dp*/
.uploadd-dp{
    width: 161px;
    padding-top: 20px;
    height: 161px;
    text-align: center;
    position: relative;
    margin: 0 auto;
}
.profile-pic {
    max-width: 200px;
    max-height: 200px;
    display: block;
    width: 100%;
    height: 100%;
}

.file-upload {
    display: none;
}
.circle {
        border-radius: 1000px !important;
    overflow: hidden;
    width: 128px;
    height: 128px;
    /*border: 8px solid rgba(255, 255, 255, 0.7);*/
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
img {
    max-width: 100%;
    height: auto;
}
.p-image {
     position: absolute;
    top: 100px;
    right: 15px;
    color: #242232;
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50px;
    text-align: center;
    line-height: 47px;
    font-size: 17px;
    cursor: pointer;
}
.p-image:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.upload-button {
  font-size: 1.2em;
}

.upload-button:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  color: #999;
}
.user-info{
        width: 100%;
    display: inline-block;
    text-align:center;
    padding-bottom: 25px;
}
.user-info h3{

}
.user-info p{
    margin: 0;
    padding-bottom: 5px;
}
.user-info ul li a{
    text-decoration: none;
    color: #fff;
    margin: 10px 5px;
    font-size: 20px;
    display: inline-block;
}
.user-info ul li {
    display: inline;
}
.user-biodata {width: 100%;}
.user-biodata ul li{
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
    font-size: 12px;
}
.user-biodata ul li span{
        display: block;
    font-size: 17px;
    padding-bottom: 3px;
}
/*upload profile dp*/

.registration-form {
    width: 100%;
    background: #242232;
    padding: 15px 25px 50px 15px;
}

.registration-form  .col-form-label{
    padding-right: 0px;
    font-size: 14px;
}
.ccode{
    padding-right: 0px;
}
.registration-form p{
    margin: 0px;
    font-size: 12px;
    display: block;
    line-height: 20px;
}
.cstm-btn {
    width: 100%;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    font-weight: bold;
}
.form-group {
    margin-bottom: 2rem;
}
/*edit profile*/
.edit-profile{
    width: 100%;
    background: #242232;
}
.edit-profile label span{
        display: inline-block;
    float: right;
    border: 1px solid #fff;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    cursor: pointer;
}
.edit-profile .cstm-inputt{
    display: block;
    width: 100%;
    border-radius: 5px;
    border: none;
    height: 35px;
    padding: 5px 15px;
}
.edit-profile .cstm-inputt:focus{
    border:none;
    box-shadow: none;
    outline: none;
}
.edit-profile .form-group{
    margin-bottom: 10px;
    position: relative;
    width: 100%;
    display: inline-block;
}
.edit-profile h3 {
    font-size: 18px;
    display: block;
}
.edit-profile h3 span {
    display: inline-block;
    float: right;
    border: 1px solid #fff;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    cursor: pointer;
}
.submit-sec{
    width: 100%;
    text-align: center;
}
.edit-profile label{
    width: 100%
}
.edit-profile label span{
    display: inline-block;
    float: right;
    border: 1px solid #fff;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 18px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 12px;
}
.cstm-sub{
    border: 2px solid transparent;
    padding: 5px 40px;
    border-radius: 30px;
    font-size: 16px;
    transition: .5s;
    cursor: pointer;
    display:inline-block!important;
}
.cstm-txt{
    height: 100px!important;
}
.cstm-sub:hover{
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
}
.edit-profile .modal-header .close{
    display: block!important;
}
/*edit profile*/
/*single input type file*/
.fileUpload {
    position: relative;
    overflow: hidden;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.btn--browse{
    border-left: 0;
    border-radius: 0 2px 2px 0;
    background-color: #242232a6;
    color: #fff;
    height: 35px;
    padding: 5px 14px;
    position: absolute;
    right: 0;
    top: 32px;
}

.f-input{
    height: 35px;
    background-color: white;
    border: none;
    width: 100%;
    float: left;
    padding: 0 14px;
    border-radius: 5px;
}
.f-input:focus{
    outline: none;
}
.featured-playlist.cret-palt ul li {
    width: 80px;
    height: 80px;
    margin-right: 15px;
}
.orr {
    width: 100%;
    text-align: center;
    padding: 5px 0px;
}
.featured-playlist.cret-palt::-webkit-scrollbar {
  height: 10px;
  background: transparent;
}

.popupModal {
    background-color: #242232;
    margin: 0;
}

.customBtn {
    background-color: #5cb2c6;
    color: #fff;
    padding: 6px 20px;
    border-radius: 40px;
}

.customBtnWhite {
    background-color: #fff;
    color: #5cb2c6;
    padding: 6px 20px;
    border-radius: 40px;
}

.loginBg {
    background: url('../images/login.png');
    background-size: cover;
}

.img-thumbnail {
    padding: 0 !important;
}

.listView .ms-Viewport {
    background: url('../images/login.jpg');
}


.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot{ display:block !important; outline:none; }