.user-info-root img{
  height: 150px;
  width: 150px;
}

.image-edit{
  display: flex;
  flex-flow: column;
  align-items: center;
  position: relative;
}

.image-edit img{
  height: 150px;
  width: 150px;
  cursor: pointer;
}

.image-edit input{
  display: none;
}

.validation-error{
  color: red;
}

.user-profile-edit label{
  color: #F969A4;
  padding: 0 !important;
}

.overlay_profile {
    position: absolute;
    top: 6.5rem;
    text-align: center;
    background-color: #17BAE0;
    padding: 4px 8px;
    border-radius: 40px;
}