.user-info-root img{
  height: 150px;
  width: 150px;
}

.image-edit{
  display: flex;
  flex-flow: column;
  align-items: center;
  position: relative;
}

.image-edit img{
  height: 150px;
  width: 150px;
  cursor: pointer;
}

.image-edit input{
  display: none;
}

.validation-error{
  color: red;
}

.user-profile-edit label{
  color: #F969A4;
  padding: 0 !important;
}

.overlay_profile {
  position: absolute;
  top: 75px;
  right: 15px;
  color: #242232;
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  width: 40px;
  height: 40px;
  background: gray;
  border-radius: 50px;
  text-align: center;
  line-height: 47px;
  font-size: 17px;
  cursor: pointer;
}